.container {
  max-width: 720px;
  margin: auto;
}

.container > p {
  margin-bottom: 3em;
}

.list {
  margin-bottom: 3em;
}

.search {
  margin-top: 5em !important;
}

.hero {
  font-family: Verdana;
  font-weight: 500;
  position: relative;
  width: 100%;
  margin: auto auto 3em auto;
  background-color: rgba(218, 234, 255, 0.26);
  padding: 3em;
}

.appName {
  font-size: 30px;
  letter-spacing: 6px;
  margin-bottom: 9px;
}

.subtitle {
  font-size: 20px;
}

.content {
  width: 45%;
  text-align: center;
  margin: auto;
}

@media (max-width: 1280px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 1012px) {
  .content {
    width: 95%;
  }
}

.logo, .logo:hover {
  text-decoration: none;
  color: inherit;
}
