.container {
  max-width: 720px;
  margin: auto;
}

.container > p {
  margin-bottom: 3em;
}

.list {
  margin-bottom: 3em;
}

.search {
  margin-top: 3em !important;
}

.hero {
  font-family: Avenir Next, Verdana, Helvetica;
  font-weight: 600;
  position: relative;
  width: 100%;
  margin: auto auto 2em auto;
  padding: 3em;
  overflow: hidden;
  color: white;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: left 0 bottom 400px;
  opacity: 0.85;
  filter: blur(4.5px);
  z-index: -1;
  transform: scale(1.03);
}

.appName {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 6px;
  margin-bottom: 9px;
}

.subtitle {
  font-size: 20px;
  padding-bottom: 10px;
}

.description {
  font-size: 16px;
  margin: auto auto 2em auto;
  text-align: center;
  max-width: 732px;
}

.content {
  max-width: 804px;
  text-align: center;
  margin: auto;
  margin-top: 16px;
}

@media (max-width: 1280px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 1012px) {
  .content {
    width: 95%;
  }

  .background {
    background-position: left 0 bottom 0;
  }
}

.logo, .logo:hover {
  text-decoration: none;
  color: inherit;
  filter: blur(0);
}
