.dropdown {
  margin-left: 0.5em;
  display: inline-block;
}

.dropdown summary {
  background-image: unset;
  background-color: unset;
  padding: 6px 6px;
  border: none;
}

.summary {
  display: flex;
  align-items: center;
}
