node_modules/
/bin
/pkg
public/webpack/
vendor/
cache/
build/

.pid
.DS_Store

yarn-error.log
app.yaml
tmp/
*__generated__*
/scratchpad
/data/personal.nq
/data/digraph.sql
/data/*backup.*
*.dump.gz
*.code-workspace
target/
.env*
scratchpad.md
.vscode
