.form-container {
  text-align: right;

  .link-url {
    display: inline-block;
    width: 75%;
    margin-right: 1em;
  }

  .topic-name {
    display: inline-block;
    width: 75%;
    margin-right: 1em;
  }
}
