.titleDiv {
  display: flex;
  flex-direction: row;
}

.title {
  flex: 1;
}

.results {
  padding-top: rem(10);
  padding-bottom: rem(10);
  min-height: 560px;
}

.card {
  margin-top: rem(5);
}

.addButton {
  justify-content: flex-end;
  margin-top: rem(5);
}

.synonyms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;

  li::after { content: "・"; }
  li:last-child::after { content: ""; }
}

.synonym {
  flex: 0 1 auto;
}

.searchResults {
  display: flex;
}

.middle {
  flex: 0;
  flex-basis: 70%;
}

.right {
  flex: auto;
  margin-left: rem(60);
  margin-top: rem(90);
}

.searchInput {
  padding-bottom: rem(30);
}