.titleDiv {
  display: flex;
  flex-direction: row;
}

.title {
  flex: 1;
}

.results {
  padding-top: rem(10);
  padding-bottom: rem(10);
  min-height: 560px;
}

.card {
  background-color: transparent;
  padding-bottom: rem(20);
}

.synonyms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;

  li::after { content: "・"; }
  li:last-child::after { content: ""; }
}

.synonym {
  flex: 0 1 auto;
}

.searchResults {
  display: flex;
}

.middleCol {
  flex-basis: var(--middle-col-width);

  .card {
    font-size: larger;
  }
}

.rightCol {
  flex: 1;
  padding-left: var(--mantine-spacing-xl);
  margin-top: rem(10);

  .card {
    padding: var(--mantine-spacing-xs);
    padding-left: 0;
  }
}

.searchInput {
  padding-bottom: rem(30);
}