.innerHeader {
  flex: 1;
  flex-wrap: wrap;
  /*height: 50px;*/
  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

.primaryLogo {
  display: inline-block;
  margin-top: 8px;
  font-family: Avenir Next, Verdana, Helvetica;
  letter-spacing: 1px;
  font-weight: 500;
  color: #24292e !important;
}

.navLeft {
  flex: 1;
  order: 1;
  display: flex;
  justify-content: flex-start;
}

.searchBox {
  flex: 3;
  order: 2;
  justify-content: center;
  max-width: 982px;
}

.userNav {
  flex: 1;
  display: flex;
  order: 3;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1500px) {
  .searchBox {
    flex: 2;
  }
}
