@import '@primer/css/index.scss';

$footer-height: 140px;

// $header-color: #fafbfc;
$header-color: #fff;

@mixin navbar-boxshadow {
  -webkit-box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
  -moz-box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
  box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
  border-bottom: 1px solid #e2e2e2;
}

html, body {
  height: 100%;
  position: relative;
}

.layout {
  &.homepage {
    .primary-logo {
      margin-right: 5px;
      top: 9px;
    }
  }
}

h1.h3 {
  margin-top: -9px;
}

.form-group textarea.form-control {
  height: unset;
  min-height: unset;
}

.SignUpPage {
  h1 {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.GithubLogin {
  > div {
    margin: 0 !important;
  }
}

.SignUp {
  border-color: #4043467d !important;

  &:hover {
    border-color: #404346 !important;
    color: #000;
    background: #80808014;
    transition-duration: 150ms;
  }
}

select {
  -moz-appearance: window;
  -webkit-appearance: none;
}

.about {
  max-width: 630px;

  p {
    font-size: 16px;
    margin-top: 16px;
  }
}

.link-url {
  &.css-truncate.css-truncate-target,
  &.css-truncate .css-truncate-target {
    max-width: 100%;
  }
}

.Item-row {
  &.Box-row--hover-gray:first-of-type {
    border-top-color: #e1e4e8 !important;
  }
}

.Label {
  margin-right: 0.5rem;
  white-space: normal;
}

.loader {
  margin: auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #a0a0a0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.activity-line-item {
  @extend .f4;

  a, a:hover {
    @extend .Link--primary;
    @extend .text-underline;
  }
}

input[type=text].form-control {
  width: 100%;
}

.Review {
  .form-checkbox {
    input {
      margin: 2px 0 0 -20px;
    }
  }

  &--reviewed {
    a {
      color: #959da5 !important;
    }
  }
}

.synonym-drag-handle {
  margin-right: 1em;
}

.mobile-menu {
  @include navbar-boxshadow;
  background: $header-color;

  .mobile-menu-header {
    width: 100%;
    display: flex;

    .menu-logo {
      display: flex !important;
      align-items: center;
      flex: 1;

      svg {
        display: inline-block;
        margin-right: 7px;
      }
    }

    .menu-three-bars {
      display: inline-block;
      color: #444d56;
    }

    .menu-btn {
      background-color: inherit;
      border: 1px solid rgba(27, 31, 35, 0.2);
      color: #444d56;
    }
  }

  .menu {
    margin-bottom: 0;
  }
}

.review-checkbox {
  min-width: 87px;
  display: inline-block;
}

.gray-link {
  color: inherit;
  text-decoration: underline;
}
