@import '@primer/css/index.scss';

$footer-height: 140px;

html, body {
  height: 100%;
  position: relative;
}

.layout {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: $footer-height;

  .primary-logo {
    position: relative;
    top: 8px;

  }

  h1.h3 {
    margin-top: -11px;
  }

  &.homepage {
    .primary-logo {
      margin-right: 5px;
      top: 9px;
    }
  }

  .form-group textarea.form-control {
    height: unset;
    min-height: unset;
  }

  .Subhead {
    margin-top: 0.5em;
    line-height: 1.3;

    .Subhead-heading {
      display: inline-flex;
      flex-direction: column-reverse;
      font-size: 22px;
      font-weight: 400;
    }
  }
}

.SignUpPage {
  h1 {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.GithubLogin {
  > div {
    margin: 0 !important;
  }
}

.Header {
  background: #fafbfc;

  .user-nav {
    margin-left: auto;
  }
}

.SignUp {
  border-color: #4043467d !important;

  &:hover {
    border-color: #404346 !important;
    color: #000;
    background: #80808014;
    transition-duration: 150ms;
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

select {
  -moz-appearance: window;
  -webkit-appearance: none;
}

.about {
  max-width: 630px;

  p {
    font-size: 16px;
    margin-top: 16px;
  }
}

.digraph-anim-fade-in {
  @extend .anim-fade-in;
  animation-duration: 0.05s;
}

.link-url {
  &.css-truncate.css-truncate-target,
  &.css-truncate .css-truncate-target {
    max-width: 100%;
  }
}

.Item-row {
  &.Box-row--hover-gray:first-of-type {
    border-top-color: #e1e4e8;
  }
}

.Box-row--topic {
  .Box-row-link {
    font-weight: 500;
  }
}

.Label {
  margin-right: 0.5rem;
}

.topic-chart-container,
.topic-chart-placeholder {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  margin: auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #a0a0a0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.disabled-link {
  color: #959da5;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.activity-line-item {
  @extend .f4;

  a, a:hover {
    @extend .link-gray-dark;
    @extend .text-underline;
  }
}

input[type=text].form-control {
  width: 100%;
}

.synonyms {
  color: #444d56;
  margin-top: 3px;

  .synonym:after {
    content: "・";
    margin: 0 3px;
  }

  .synonym:last-child:after {
    content: '';
    margin: 0 3px;
  }
}

.Review {
  .form-checkbox {
    input {
      margin: 2px 0 0 -20px;
    }
  }

  &--reviewed {
    a {
      color: #959da5 !important;
    }
  }
}

.synonym-drag-handle {
  margin-right: 1em;
}