@import 'primer/index.scss';

$footer-height: 140px;

html, body {
  height: 100%;
  position: relative;
}

.layout {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: $footer-height;

  @include breakpoint(lg) { font-size: inherit; }
  font-size: 22px;

  .primary-logo {
    position: relative;
    top: 7px;
  }

  &.homepage {
    .primary-logo {
      margin-right: 5px;
      top: 9px;
    }
  }
}

.SignUpPage {
  h1 {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.GithubLogin {
  > div {
    margin: 0 !important;
  }
}

.Header {
  background: #fafbfc;

  .user-nav {
    margin-left: auto;
  }
}

.SignUp {
  border-color: #4043467d !important;

  &:hover {
    border-color: #404346 !important;
    color: #000;
    background: #80808014;
    transition-duration: 150ms;
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

select {
  -moz-appearance: window;
  -webkit-appearance: none;
}

.about {
  max-width: 630px;

  p {
    font-size: 16px;
    margin-top: 16px;
  }
}

.digraph-anim-fade-in {
  @extend .anim-fade-in;
  animation-duration: 0.05s;
}

.link-url {
  &.css-truncate.css-truncate-target,
  &.css-truncate .css-truncate-target {
    max-width: 100%;
  }
}

.Item-row {
  &.Box-row--hover-gray:first-of-type {
    border-top-color: #e1e4e8;
  }
}

.Box-row--topic {
  .Box-row-link {
    @extend .text-bold;
  }
}

.Label {
  margin-right: 0.5rem;
}
