@import 'primer/index.scss';

.link-url {
  &.css-truncate.css-truncate-target,
  &.css-truncate .css-truncate-target {
    max-width: 100%;
  }
}

.Box-row--topic {
  .Box-row-link {
    font-weight: 500;
  }
}

.Label {
  margin-right: 0.5rem;
}
