.userNav {
  display: inline-block;
  margin-left: auto;
}

.header {
  flex: 1;
  height: 40px;
}

.primaryLogo {
  display: inline-block;
  margin-top: 8px;
  font-family: Avenir Next, Verdana, Helvetica;
  letter-spacing: 1px;
  font-weight: 500;
}
