.link {
  flex: 1;
}

.mobileMenu {
  width: 100%;
}

.logo {
  font-family: Avenir Next, Verdana, Helvetica;
  letter-spacing: 1px;
  font-weight: 500 !important;
  font-size: 20px;
}

.searchBox {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}
